<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon"
          href={{ url_for('static',filename='home/images/favicon.ico') }}>
    <link rel="apple-touch-icon" type="image"
          href={{ url_for('static',filename='home/apple-touch-icon.png') }}>


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
  <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/bootstrap.min.css') }}>
    <!-- This core.css file contents all plugings css file. -->

      <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/core.css') }}>

    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/shortcode/shortcodes.css') }}>
    <!-- Theme main style -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/style.css') }}>
    <!-- Responsive css -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/responsive.css') }}>
    <!-- User style -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/custom.css') }}>


    <!-- Modernizr JS -->
        <script src="static/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <style>
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    right: 0;
   display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.myHref:hover{
    color: red;
}
</style>
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="/index">
                                    <img class="w3-animate-left" src="static/images/ace-logo.png" style="width: 130px" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6 w3-animate-right">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop"><a href="/index">Home</a></li>
                                    <li class="drop"><a href="/men">Men</a>
                                        <ul class="dropdown">
                                            <li><a href="/men#jump-men-casual">Casual <span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Shirts</a>
                                                    <a href="">
                                                        <img src="static/images/menShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">T-Shirts</a>
                                                    <a href="">
                                                        <img src="static/images/menTShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Pants</a>
                                                    <a href="">
                                                        <img src="static/images/menPentCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                            <li><a href="/men#jump-men-formal">Formal<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Shalwar Kameez</a>
                                                    <a href="">
                                                        <img src="static/images/menShalwarKameezCover.jpg" style="width: 120px; height: 160px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Pant Coat</a>
                                                    <a href="">
                                                        <img src="static/images/menPentCoatCover.jpg" style="width: 120px; height: 160px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="/women">Women</a>
                                        <ul class="dropdown">
                                            <li><a href="/women#jump-women-shalwar-kameez">Shalwar Kameez<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Two Piece</a>
                                                    <a href="">
                                                        <img src="static/images/women2PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Three Piece</a>
                                                    <a href="">
                                                        <img src="static/images/women3PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li><a href="/women#jump-women-abaya">Abaya</a>

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="drop"><a href="/kids">Kids</a>
                                        <ul class="dropdown">
                                            <li><a href="/kids#jump-kids-boys">Boys<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Shirts</a>
                                                    <a href="">
                                                        <img src="static/images/BoyShirtCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Pants</a>
                                                    <a href="">
                                                        <img src="static/images/BoyPentCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Kurta & Pajama</a>
                                                    <a href="">
                                                        <img src="static/images/BoyKurtaCover.jpg" style="width: 110px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li><a href="/kids#jump-kids-girls">Girls<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Kurti</a>
                                                    <a href="">
                                                        <img src="static/images/girlsKurtiCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Jeans</a>
                                                    <a href="">
                                                        <img src="static/images/girlsJeansCover.jpg" style="width: 130px; height: 170px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="/contact">contact us</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                    <li class="drop"><a href="index.html">Home</a></li>
                                    <li class="drop"><a href="portfolio-card-box-2.html">Men</a>
                                        <ul class="dropdown">
                                            <li class="drop"><a href="portfolio-card-box-2.html">Casual</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Shirts</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">T-Shirts</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menTShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Pants</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menPentCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                            <li class="drop"><a href="single-portfolio.html">Formal</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Shalwar Kameez</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menShalwarKameezCover.jpg" style="width: 120px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Pent Coat</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menPentCoatCover.jpg" style="width: 130px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="portfolio-card-box-2.html">Women</a>
                                        <ul class="dropdown">
                                            <li class="drop"><a href="portfolio-card-box-2.html">Shalwar Kameez</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Two Piece</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/women2PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Three Piece</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/women3PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li><a href="single-portfolio.html">Abaya</a>

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="drop"><a href="portfolio-card-box-2.html">Kids</a>
                                        <ul class="dropdown">
                                            <li class="drop"><a href="portfolio-card-box-2.html">Boys</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Shirts</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/BoyShirtCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Pents</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/BoyPentCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Kurta & Pajama</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/BoyKurtaCover.jpg" style="width: 110px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li class="drop"><a href="single-portfolio.html">Girls</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Kurti</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/girlsKurtiCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Jeans</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/girlsJeansCover.jpg" style="width: 130px; height: 170px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="/contact">contact us</a></li>
                                </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End MAinmenu Ares -->

                        <div  class="col-md-2 col-sm-4 col-xs-3 w3-animate-right">
                            <ul class="menu-extra">
                                <div class="dropdown" style="padding: 0">
<li class="dropbtn" onclick="myFunction1()">
    {%if login_email  %}
        <span class="ti-user"></span>
    {%endif  %}

    {%if not_login  %}
        <a href="/login-register"><span class="ti-user"></span></a>
    {%endif  %}

    <div class="dropdown-content" id="text1">
        <a>{{login_email}}</a>
        <a class="myHref" href="/user-profile">
            <i class="zmdi zmdi-account"></i>
            <i class="zmdi zmdi-account" style="visibility: hidden"></i>
            Account
        </a>
        <a class="myHref" href="/user-setting">
            <i class="zmdi zmdi-settings"></i>
            <i class="zmdi zmdi-settings" style="visibility: hidden"></i>
            Setting
        </a>
        <a class="myHref" href="/logout">
            <i class="zmdi zmdi-power"></i>
            <i class="zmdi zmdi-power" style="visibility: hidden"></i>
            Logout
        </a>
    </div>
</li>
                                </div>
                                <li class="cart__menu" style="visibility: hidden; padding: 0"><span class="ti-shopping-cart"></span></li>
                                <li  style="padding: 0">
                                    {%if login_email  %}
                                        <a href="/cart"><span class="ti-shopping-cart"></span></a>
                                    {%endif  %}

                                    {%if not_login  %}
                                        <a href="/login-register-cart-view"><span class="ti-shopping-cart"></span></a>
                                    {%endif  %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    {%if login_email  %}
        <script>
    function myFunction1() {
         var x = document.getElementById("text1");
         if (x.style.display === "block") {
             x.style.display = "none";
         } else {
             x.style.display = "block";
         }
    }
</script>
    {%endif  %}

                    <div class="mobile-menu-area">

                    </div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
                {%if success_msg  %}
                    <div class="alert alert-success" role="alert" style="text-align: center">
                        {{success_msg}}
                    </div>
                {%endif  %}

                {%if error_msg  %}
                    <div class="alert alert-danger" role="alert" style="text-align: center">
                        {{error_msg}}
                    </div>
                {%endif  %}
        <!-- Start Login Register Area -->
        <div class="htc__login__register bg__white pt--120" style="padding-bottom: 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="login__register__menu" role="tablist">
                            <li role="presentation" class="login active"><a href="#login" role="tab" data-toggle="tab">Forget Password</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Start Login Register Content -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="htc__login__register__wrap">
                            <!-- Start Single Content -->
                            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                                <form action="/forgot-password" class="login" method="POST">
                                    <input type="email" name="email" placeholder="Email*" required>
                                    <div class="htc__login__btn mt--30">
                                        <a href=""><button type="submit" value="Send Password Reset Link" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">Send Email</button></a>
                                    </div>
                                </form>


                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>

        <script type="text/javascript">
    	function check()
		{
  			if (document.getElementById('password').value === document.getElementById('confirm-password').value) {
    			document.getElementById('message').innerHTML = '';
    			document.getElementById("submit-btn").disabled = false;
  			} else {
    			document.getElementById('message').style.color = 'red';
    			document.getElementById('message').innerHTML = 'Password and Confirm Password does not match';
    			document.getElementById("submit-btn").disabled = true;
  			}
		}
    </script>
        <!-- End Login Register Area -->
        <!-- Start Footer Area -->
        <!-- End Footer Area -->
    </div>
    <footer class="htc__foooter__area gray-bg" style="padding-top: 0">
            <div class="container">
                <div class="row">
                    <div class="footer__container clearfix">
                         <!-- Start Single Footer Widget -->
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <div class="ft__widget">
                                <div class="ft__logo">
                                    <h2>Need Help</h2>
                                </div>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-pin"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>{{company.address}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="address-text">
                                            <p>{{company.email}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-phone-in-talk"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>{{company.phone}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-4 col-lg-2 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Categories</h2>
                                <ul class="footer-categories">
                                    <li><a href="/men">Men</a></li>
                                    <li><a href="/women">Women</a></li>
                                    <li><a href="/kids">Kids</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-4 col-lg-2 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Follow Us</h2>
                                <ul class="social__icon">
                                    <li><a href="https://twitter.com/usmanjavaid08?s=09"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/usman_javaid01/"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/offical.usman.005/"><i class="zmdi zmdi-facebook"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>© 2021 <a href="/index">ACE</a>
                                    All Right Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="static/home/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="static/home/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="static/home/js/plugins.js"></script>
    <script src="static/home/js/slick.min.js"></script>
    <script src="static/home/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="static/home/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="static/home/js/main.js"></script>

</body>

</html>