<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Women</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon"
          href={{ url_for('static',filename='home/images/favicon.ico') }}>
    <link rel="apple-touch-icon" type="image"
          href={{ url_for('static',filename='home/apple-touch-icon.png') }}>


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/bootstrap.min.css') }}>
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/owl.carousel.min.css') }}>

    <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/owl.theme.default.min.css') }}>
    <!-- This core.css file contents all plugings css file. -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/core.css') }}>
    <!-- Theme shortcodes/elements style -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/shortcode/shortcodes.css') }}>
    <!-- Theme main style -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/style.css') }}>
    <!-- Responsive css -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/responsive.css') }}>
    <!-- User style -->
        <link rel="stylesheet" type="text/css"
          href={{ url_for('static',filename='home/css/custom.css') }}>


    <!-- Modernizr JS -->
    <script src="static/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <style>
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    right: 0;
   display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.myHref:hover{
    color: red;
}
</style>
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="/index">
                                    <img class="w3-animate-left" src="static/images/ace-logo.png" style="width: 130px" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6 w3-animate-right">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop"><a href="/index">Home</a></li>
                                    <li class="drop"><a href="/men">Men</a>
                                        <ul class="dropdown">
                                            <li><a href="/men#jump-men-casual">Casual <span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Shirts</a>
                                                    <a href="">
                                                        <img src="static/images/menShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">T-Shirts</a>
                                                    <a href="">
                                                        <img src="static/images/menTShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Pants</a>
                                                    <a href="">
                                                        <img src="static/images/menPentCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                            <li><a href="/men#jump-men-formal">Formal<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Shalwar Kameez</a>
                                                    <a href="">
                                                        <img src="static/images/menShalwarKameezCover.jpg" style="width: 120px; height: 160px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Pant Coat</a>
                                                    <a href="">
                                                        <img src="static/images/menPentCoatCover.jpg" style="width: 120px; height: 160px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="/women" style="color: red">Women</a>
                                        <ul class="dropdown">
                                            <li><a href="/women#jump-women-shalwar-kameez">Shalwar Kameez<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Two Piece</a>
                                                    <a href="">
                                                        <img src="static/images/women2PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Three Piece</a>
                                                    <a href="">
                                                        <img src="static/images/women3PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li><a href="/women#jump-women-abaya">Abaya</a>

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="drop"><a href="/kids">Kids</a>
                                        <ul class="dropdown">
                                            <li><a href="/kids#jump-kids-boys">Boys<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Shirts</a>
                                                    <a href="">
                                                        <img src="static/images/BoyShirtCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Pants</a>
                                                    <a href="">
                                                        <img src="static/images/BoyPentCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Kurta & Pajama</a>
                                                    <a href="">
                                                        <img src="static/images/BoyKurtaCover.jpg" style="width: 110px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li><a href="/kids#jump-kids-girls">Girls<span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="">Kurti</a>
                                                    <a href="">
                                                        <img src="static/images/girlsKurtiCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">Jeans</a>
                                                    <a href="">
                                                        <img src="static/images/girlsJeansCover.jpg" style="width: 130px; height: 170px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="/contact">contact us</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                    <li class="drop"><a href="index.html">Home</a></li>
                                    <li class="drop"><a href="portfolio-card-box-2.html">Men</a>
                                        <ul class="dropdown">
                                            <li class="drop"><a href="portfolio-card-box-2.html">Casual</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Shirts</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">T-Shirts</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menTShirtCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Pants</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menPentCover.jpg" style="width: 170px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                            <li class="drop"><a href="single-portfolio.html">Formal</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Shalwar Kameez</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menShalwarKameezCover.jpg" style="width: 120px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Pent Coat</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/menPentCoatCover.jpg" style="width: 130px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop"><a href="portfolio-card-box-2.html">Women</a>
                                        <ul class="dropdown">
                                            <li class="drop"><a href="portfolio-card-box-2.html">Shalwar Kameez</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Two Piece</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/women2PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Three Piece</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/women3PeiceCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li><a href="single-portfolio.html">Abaya</a>

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="drop"><a href="portfolio-card-box-2.html">Kids</a>
                                        <ul class="dropdown">
                                            <li class="drop"><a href="portfolio-card-box-2.html">Boys</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Shirts</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/BoyShirtCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Pents</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/BoyPentCover.jpg" style="width: 130px; height: 120px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Kurta & Pajama</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/BoyKurtaCover.jpg" style="width: 110px; height: 150px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>
                                            <li class="drop"><a href="single-portfolio.html">Girls</a>
                                            <ul class="lavel-dropdown mega_dropdown">
                                                <li>
                                                    <a href="customer-review.html">Kurti</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/girlsKurtiCover.jpg" style="width: 130px; height: 180px" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="customer-review.html">Jeans</a>
                                                    <a href="shop.html">
                                                        <img src="static/images/girlsJeansCover.jpg" style="width: 130px; height: 170px" alt="">
                                                    </a>
                                                </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="/contact">contact us</a></li>
                                </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End MAinmenu Ares -->

                        <div  class="col-md-2 col-sm-4 col-xs-3 w3-animate-right">
                            <ul class="menu-extra">
                                <div class="dropdown" style="padding: 0">
<li class="dropbtn" onclick="myFunction1()">
    {%if login_email  %}
        <span class="ti-user"></span>
    {%endif  %}

    {%if not_login  %}
        <a href="/login-register"><span class="ti-user"></span></a>
    {%endif  %}

    <div class="dropdown-content" id="text1">
        <a>{{login_email}}</a>
        <a class="myHref" href="/user-profile">
            <i class="zmdi zmdi-account"></i>
            <i class="zmdi zmdi-account" style="visibility: hidden"></i>
            Account
        </a>
        <a class="myHref" href="/user-setting">
            <i class="zmdi zmdi-settings"></i>
            <i class="zmdi zmdi-settings" style="visibility: hidden"></i>
            Setting
        </a>
        <a class="myHref" href="/logout">
            <i class="zmdi zmdi-power"></i>
            <i class="zmdi zmdi-power" style="visibility: hidden"></i>
            Logout
        </a>
    </div>
</li>
                                </div>
                                <li class="cart__menu" style="visibility: hidden; padding: 0"><span class="ti-shopping-cart"></span></li>
                                <li  style="padding: 0">
                                    {%if login_email  %}
                                        <a href="/cart"><span class="ti-shopping-cart"></span></a>
                                    {%endif  %}

                                    {%if not_login  %}
                                        <a href="/login-register-cart-view"><span class="ti-shopping-cart"></span></a>
                                    {%endif  %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    {%if login_email  %}
        <script>
    function myFunction1() {
         var x = document.getElementById("text1");
         if (x.style.display === "block") {
             x.style.display = "none";
         } else {
             x.style.display = "block";
         }
    }
</script>
    {%endif  %}

                    <div class="mobile-menu-area">

                    </div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->
        <div class="body__overlay"></div>

        <style>
            #WomenCover {
              background-image: url('https://cdn.shopify.com/s/files/1/2219/4051/files/UNSTITCHED-BANNER-800X600.jpg?v=1614687948');
              background-repeat: no-repeat;
              background-attachment: scroll;
              background-size: cover;
            }
        </style>
        <div class="ht__bradcaump__area" id="WomenCover">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Women</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/index">Home</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Women</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Shalwar Kameez starts-->


        <style>
            #ShalwarKameez {
              background-image: url('http://keshiastore.com/wp-content/uploads/2021/03/web-banner-2.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
        </style>
        <style>
    /*
      Rollover Image
     */
    .figure {
        position: relative;
    }
    .figure img.image-hover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: initial;
      opacity: 0;
        transition: 0.8s;
    }
    .figure:hover img.image-hover {
      opacity: 1;
    }
</style>

        <p id="jump-women-shalwar-kameez"></p>
        <div class="container bg__white" style="padding-top: 11%">
            <div class="row">
                    <div class="col-md-12">
                        <div class="product-style-tab">
                            <div class="product-tab-list" style="text-align:center ;border:none">
                                <ul class="tab-style" role="tablist">
                                    <li class="active">
                                        <h3 style="text-align: center;font-size: 60px;color: red" ><b>Shalwar Kameez</b></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <section class="htc__product__area bg__white">
            <div class="container" id="ShalwarKameez">
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" >
                        <div class="product-style-tab">

                            <div class="product-tab-list" style="background-color: white;border: 1px solid #F20000; border-right: none; border-left: none">
                                <ul class="tab-style" role="tablist" >
                                    <li class="active">
                                        <a  href="#women-shalwar-kameez-two" data-toggle="tab">
                                            <div class="tab-menu-text">
                                                <h4 onclick="womenShalwarKameezTwo()">Two Piece</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#women-shalwar-kameez-three" data-toggle="tab">
                                            <div class="tab-menu-text">
                                                <h4 onclick="womenShalwarKameezThree()">Three Piece</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--This is for loop for shirts -->
                            <div class="tab-content another-product-style jump" >

                                <div class="tab-pane active" id="women-shalwar-kameez-two">
                                    <div class="row">
                                            <!--This is for the for loop of new items-->
                                        {% for u in women_shalwar_kameez_two %}
                                            <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                                                <div class="product">
                                                    <div class="product__inner">
                                                        <div class="pro__thumb">

                                                        <div class="figure">
                                                            <img class="Sirv image-main" src="{{u[2]}}" width="270" height="305">
                                                            <img class="Sirv image-hover" data-src="{{u[8]}}" width="270" height="305">
                                                        </div>

                                                        </div>
                                                        <div class="product__hover__info">
                                                            <iframe name="women-iframe" style="display: none"></iframe>
                                                            <ul class="product__action">
                                                                <li>
                                                                    <form action="/view-product-detail" method="POST">
                                                                        <button name="product-id" value="{{ u[0] }}" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-eye"></span></button>
                                                                    </form>
                                                                </li>

                                                                <li>
                                                                    {%if login_email  %}
                                                                        <form action="/place-order" method="POST" target="women-iframe">
                                                                            <button name="product-id" value="{{ u[0] }}" data-toggle="modal" data-target="#myModal" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-shopping-cart"></span></button>
                                                                        </form>
                                                                    {%endif  %}

                                                                    {%if not_login  %}
                                                                        <form action="/login-register-add-item">
                                                                            <button style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-shopping-cart"></span></button>
                                                                        </form>
                                                                    {%endif  %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="product__details" style="background-color: white">
                                                        <h2><a href="product-details.html" >{{ u[1] }}</a></h2>
                                                        <ul class="product__price">
                                                            <li class="price" >PKR {{ u[3] }}</li>
                                                        </ul>
                                                    </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="tab-pane" id="women-shalwar-kameez-three">
                                    <div class="row">
                                        {% for u in women_shalwar_kameez_three %}
                                            <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                                                <div class="product">
                                                    <div class="product__inner">
                                                        <div class="pro__thumb">

                                                        <div class="figure">
                                                            <img class="Sirv image-main" src="{{u[2]}}" width="270" height="305">
                                                            <img class="Sirv image-hover" data-src="{{u[8]}}" width="270" height="305">
                                                        </div>

                                                        </div>
                                                        <div class="product__hover__info">
                                                            <iframe name="women-iframe" style="display: none"></iframe>
                                                            <ul class="product__action">
                                                                <li>
                                                                    <form action="/view-product-detail" method="POST">
                                                                        <button name="product-id" value="{{ u[0] }}" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-eye"></span></button>
                                                                    </form>
                                                                </li>

                                                                <li>
                                                                    {%if login_email  %}
                                                                        <form action="/place-order" method="POST" target="women-iframe">
                                                                            <button name="product-id" value="{{ u[0] }}" data-toggle="modal" data-target="#myModal" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-shopping-cart"></span></button>
                                                                        </form>
                                                                    {%endif  %}

                                                                    {%if not_login  %}
                                                                        <form action="/login-register-add-item">
                                                                            <button style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-shopping-cart"></span></button>
                                                                        </form>
                                                                    {%endif  %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="product__details" style="background-color: white">
                                                        <h2><a href="product-details.html" >{{ u[1] }}</a></h2>
                                                        <ul class="product__price">
                                                            <li class="price" >PKR {{ u[3] }}</li>
                                                        </ul>
                                                    </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section>
        <!--Shalwar Kameez ends-->


        <style>
            #Abaya {
              background-image: url('https://cdn.shopify.com/s/files/1/1592/0041/collections/ABAYAS-MAIN_BANNER_1903x445.jpg?v=1617012618');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
        </style>

        <p id="jump-women-abaya"></p>
        <div class="container bg__white" style="padding-top: 11%">
            <div class="row" >
                    <div class="col-md-12">
                        <div class="product-style-tab">
                            <div class="product-tab-list" style="text-align:center ;border:none">
                                <ul class="tab-style" role="tablist">
                                    <li class="active">
                                        <h3 style="text-align: center;font-size: 60px;color: red" ><b>Abaya</b></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <section class="htc__product__area bg__white">
            <div class="container"  id="Abaya">
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" >
                        <div class="product-style-tab">

                            <div class="product-tab-list" style="background-color: white;border: 1px solid #F20000; border-right: none; border-left: none">
                                <ul class="tab-style" role="tablist" >
                                    <li class="active">
                                        <a  href="#AbayaJump" data-toggle="tab">
                                            <div class="tab-menu-text">
                                                <h4>Abaya</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--This is for loop -->
                            <div class="tab-content another-product-style jump" >

                                <div class="tab-pane active" id="AbayaJump">
                                    <div class="row">

                                        {% for u in women_abaya %}
                                                <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                                                <div class="product">
                                                    <div class="product__inner">
                                                        <div class="pro__thumb">

                                                        <div class="figure">
                                                            <img class="Sirv image-main" src="{{u[2]}}" width="270" height="305">
                                                            <img class="Sirv image-hover" data-src="{{u[8]}}" width="270" height="305">
                                                        </div>

                                                        </div>
                                                        <div class="product__hover__info">
                                                            <iframe name="women-iframe" style="display: none"></iframe>
                                                            <ul class="product__action">
                                                                <li>
                                                                    <form action="/view-product-detail" method="POST">
                                                                        <button name="product-id" value="{{ u[0] }}" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-eye"></span></button>
                                                                    </form>
                                                                </li>

                                                                <li>
                                                                    {%if login_email  %}
                                                                        <form action="/place-order" method="POST" target="women-iframe">
                                                                            <button name="product-id" value="{{ u[0] }}" data-toggle="modal" data-target="#myModal" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-shopping-cart"></span></button>
                                                                        </form>
                                                                    {%endif  %}

                                                                    {%if not_login  %}
                                                                        <form action="/login-register-add-item">
                                                                            <button style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;font-size: 20px" class="my-cart1"><span class="ti-shopping-cart"></span></button>
                                                                        </form>
                                                                    {%endif  %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="product__details" style="background-color: white">
                                                        <h2><a href="product-details.html" >{{ u[1] }}</a></h2>
                                                        <ul class="product__price">
                                                            <li class="price" >PKR {{ u[3] }}</li>
                                                        </ul>
                                                    </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <br><br>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section>
        <!--Abaya ends-->

        <!-- Start Footer Area -->
        <footer class="htc__footer__area gray-bg">
            <div class="container">
                <div class="row">
                    <div class="footer__container clearfix">
                         <!-- Start Single Footer Widget -->
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <div class="ft__widget">
                                <div class="ft__logo">
                                    <h2>Need Help</h2>
                                </div>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-pin"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>{{company.address}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="address-text">
                                            <p>{{company.email}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-phone-in-talk"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>{{company.phone}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-4 col-lg-2 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Categories</h2>
                                <ul class="footer-categories">
                                    <li><a href="/men">Men</a></li>
                                    <li><a href="/women" style="color: red">Women</a></li>
                                    <li><a href="/kids">Kids</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-4 col-lg-2 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Follow Us</h2>
                                <ul class="social__icon">
                                    <li><a href="https://twitter.com/usmanjavaid08?s=09"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/usman_javaid01/"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/offical.usman.005/"><i class="zmdi zmdi-facebook"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>© 2021 <a href="/index">ACE</a>
                                    All Right Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="big images" src="static/home/images/product/big-img/1.jpg">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1>Simple Fabric Bags</h1>
                                <div class="rating__and__review">
                                    <ul class="rating">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                    <div class="review">
                                        <a href="#">4 customer reviews</a>
                                    </div>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span class="new-price">$17.20</span>
                                        <span class="old-price">$45.00</span>
                                    </div>
                                </div>
                                <div class="quick-desc">
                                    Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                                </div>
                                <div class="select__color">
                                    <h2>Select color</h2>
                                    <ul class="color__list">
                                        <li class="red"><a title="Red" href="#">Red</a></li>
                                        <li class="gold"><a title="Gold" href="#">Gold</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                    </ul>
                                </div>
                                <div class="select__size">
                                    <h2>Select size</h2>
                                    <ul class="color__list">
                                        <li class="l__size"><a title="L" href="#">L</a></li>
                                        <li class="m__size"><a title="M" href="#">M</a></li>
                                        <li class="s__size"><a title="S" href="#">S</a></li>
                                        <li class="xl__size"><a title="XL" href="#">XL</a></li>
                                        <li class="xxl__size"><a title="XXL" href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="rss" href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li><a target="_blank" title="Linkedin" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li><a target="_blank" title="Tumblr" href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="addtocart-btn">
                                    <a href="#">Add to cart</a>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="static/home/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="static/home/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="static/home/js/plugins.js"></script>
    <script src="static/home/js/slick.min.js"></script>
    <script src="static/home/js/owl.carousel.min.js"></script>




    <!-- Waypoints.min.js. -->
    <script src="static/home/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="static/home/js/main.js"></script>
    <script>
      function womenShalwarKameezTwo() {
            document.getElementById("women-shalwar-kameez-two").style.display = "block";
            document.getElementById("women-shalwar-kameez-three").style.display = "none";

            document.getElementById('ShalwarKameez').style.backgroundImage='url(http://keshiastore.com/wp-content/uploads/2021/03/web-banner-2.jpg)';
            document.getElementById('ShalwarKameez').style.backgroundRepeat= 'no repeat';
            document.getElementById('ShalwarKameez').style.transition='1s';
        }
        function womenShalwarKameezThree() {
            document.getElementById("women-shalwar-kameez-two").style.display = "none";
            document.getElementById("women-shalwar-kameez-three").style.display = "block";

            document.getElementById('ShalwarKameez').style.backgroundImage='url(https://cdn.shopify.com/s/files/1/0477/5614/8892/files/Summer_ll_-_Banner_-_1500px_X_700px.jpg?v=1621240065)';
            document.getElementById('ShalwarKameez').style.backgroundRepeat= 'no repeat';
            document.getElementById('ShalwarKameez').style.transition='1s';
        }
    </script>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <p class="success">Item Added to Cart Successfully!</p>
      </div>
      <div class="modal-footer">
          <a href="/cart" class="btn btn-default">View Cart</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
      </div>
    </div>

  </div>
</div>
</body>

</html>